*.suo
TestResults
/src/packages
*.user
/src2/packages
*.sdf
ipch
*.opensdf
*.filters
/externals/XTAL/lib
/externals/XTAL/vc12/ix/Release
/externals/XTAL/vc12/test/Release
/externals/XTAL/vc12/xtal/Release
/externals/XTAL/vc12/xtallib/Release
/src/lib
/src/build
/Peep/Peep/Peep.Windows/obj
/Peep/Peep/Peep.Windows/bin
/Peep/Peep/Peep.WindowsPhone/obj
/Peep/Peep/Peep.WindowsPhone/bin
