*.suo
TestResults
/src/packages
*.user
/src2/packages
*.sdf
ipch
*.opensdf
/externals/XTAL/lib
/externals/XTAL/vc12/ix/Release
/externals/XTAL/vc12/test/Release
/externals/XTAL/vc12/xtal/Release
/externals/XTAL/vc12/xtallib/Release
/src/lib
/src/build
/Peep/Peep/Peep.Windows/obj
/Peep/Peep/Peep.Windows/bin
/Peep/Peep/Peep.WindowsPhone/obj
/Peep/Peep/Peep.WindowsPhone/bin
/src/script/obj
/src/script/bin
/src/script/js
/src/domain/obj
/src/domain/bin
*.TMP
/src/web/bin
/src/web/obj
/externals/shiori-basic/SHIOLINK3/Debug
/externals/shiori-basic/SHIOLINK3/SHIOLINK3/Debug
