/*
	Developed by anthonyvscode.com
	This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*//*Border Radius Functions*//*Shadows*//*Transformations*/body {
  margin: 0 auto;
  font-family: 'Meiryo UI', 'Meiryo', 'Hiragino Kaku Gothic ProN', Verdana, 'MS PGothic', sans-serif;
}
body {
  overflow: hidden;
  pointer-events: none;
  background-color: transparent;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.absolute * {
  position: absolute;
}
div#mainArea {
  position: absolute;
  right: 0px;
  width: 320px;
  height: 100%;
}
div#actor {
  z-index: 0;
  left: 0px;
  width: 320px;
}
div#actor img {
  z-index: -10;
}
div#actor div.ie {
  display: none;
}
div#actor div.webkit {
  display: none;
}
html.webkit #actor div.webkit {
  display: block;
}
html.ie8_ #actor div.ie {
  display: block;
}
.diff {
  display: none;
}
div#surface.x1 .x1 {
  display: block;
}
div#surface.x2 .x2 {
  display: block;
}
div#surface.x3 .x3 {
  display: block;
}
div#surface.x4 .x4 {
  display: block;
}
div#surface.x5 .x5 {
  display: block;
}
div#surface.y1 .y1 {
  display: block;
}
div#surface.y2 .y2 {
  display: block;
}
div#surface.y3 .y3 {
  display: block;
}
div#surface.y4 .y4 {
  display: block;
}
div#surface.y5 .y5 {
  display: block;
}
div#surface.y6 .y6 {
  display: block;
}
div#surface.z1 .z1 {
  display: block;
}
div#surface.z2 .z2 {
  display: block;
}
div#scrapArea div.scrap {
  position: absolute;
  pointer-events: none;
  bottom: 0px;
  width: 320px;
  height: 420px;
  font-family: '@メイリオ', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', Verdana, '@ＭＳ Ｐゴシック', sans-serif;
  font-size: 16px;
  color: rgba(150, 100, 63, 0.9);
  text-shadow: 0px 0px 1px #FFF, 0px 0px 2px #FFF, 0px 0px 2px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;
}
div#scrapArea div.scrap div.section {
  position: absolute;
  z-index: 10;
  writing-mode: tb-rl;
  direction: ltr;
  block-progression: t rl;
  -moz-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
}
div#scrapArea div.scrap div.section .pasta {
  color: rgba(150, 100, 63, 0.9);
}
div#scrapArea div.scrap div.section .coffee {
  color: rgba(63, 109, 147, 0.9);
}
div#scrapArea div.scrap div.section p.pasta {
  color: rgba(150, 100, 63, 0.9);
}
div#scrapArea div.scrap div.section p.pasta.p1 {
  color: rgba(150, 100, 63, 0.9);
}
div#scrapArea div.scrap div.section p.pasta.p2 {
  color: rgba(62, 110, 145, 0.9);
}
div#scrapArea div.scrap div.section p.pasta.p3 {
  color: rgba(142, 61, 108, 0.9);
}
div#scrapArea div.scrap div.section p.solt {
  color: rgba(62, 69, 145, 0.9);
}
div#scrapArea div.scrap div.section p.solt.p1 {
  color: rgba(62, 69, 145, 0.9);
}
div#scrapArea div.scrap div.section p.solt.p2 {
  color: rgba(147, 140, 63, 0.9);
}
div#scrapArea div.scrap div.section p.solt.p3 {
  color: rgba(142, 61, 68, 0.9);
}
div#scrapArea div.scrap div.section p.mister {
  color: rgba(62, 69, 145, 0.9);
}
div#scrapArea div.scrap div.section p.mister.p1 {
  color: rgba(62, 69, 145, 0.9);
}
div#scrapArea div.scrap div.section p.mister.p2 {
  color: rgba(147, 140, 63, 0.9);
}
div#scrapArea div.scrap div.section p.mister.p3 {
  color: rgba(142, 61, 68, 0.9);
}
div#scrapArea div.scrap div.section p.solt {
  text-indent: 16px;
}
div#scrapArea div.scrap div.section p.mister {
  text-indent: 16px;
}
div#scrapArea div.scrap div.section.area1 {
  left: 222px;
}
div#scrapArea div.scrap div.section.area1 p {
  -webkit-margin-right: 6px;
  -moz-margin-right: 6px;
  -o-margin-right: 6px;
  -ms-margin-right: 6px;
  margin-right: 6px;
  -webkit-margin-left: 0;
  -moz-margin-left: 0;
  -o-margin-left: 0;
  -ms-margin-left: 0;
  margin-left: 0;
}
div#scrapArea div.scrap div.section.area2 {
  right: 262px;
}
div#scrapArea div.scrap div.section.area2 p {
  -webkit-margin-right: 0;
  -moz-margin-right: 0;
  -o-margin-right: 0;
  -ms-margin-right: 0;
  margin-right: 0;
  -webkit-margin-left: 6px;
  -moz-margin-left: 6px;
  -o-margin-left: 6px;
  -ms-margin-left: 6px;
  margin-left: 6px;
}
div#mainArea div.text span {
  opacity: 0.0;
}
div#mainArea.show div.text span {
  opacity: 1.0;
}
div#mainArea.flush div.text span {
  opacity: 1.0;
  -moz-transition: opacity 0s linear;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -ms-transition: opacity 0s linear;
  transition: opacity 0s linear;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.hittest {
  z-index: 10;
  pointer-events: all;
  cursor: pointer;
}
.hittest.hi {
  z-index: 3;
}
.hittest.lo {
  z-index: 1;
}
div.navi {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
div.navi img {
  width: 57px;
  height: 57px;
}
div.navi {
  pointer-events: all;
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
  font-size: 14px;
}
div.navi li {
  pointer-events: all;
  display: block;
  margin-bottom: 1px;
  padding: 2px 0 2px 10px;
  width: 165px;
  text-decoration: none;
  border-left: 5px solid #888888;
  background-color: #eeeeee;
  color: #000000;
}
div.navi li.ui-selectee {
  border-left: 5px solid #000000;
}
div.navi li.ui-selecting {
  border-left: 5px solid #880000;
}
div.navi li.ui-selected {
  background-color: #999999;
  color: #ff0000;
  border-left: 5px solid #ff0000;
}
div.edit {
  position: absolute;
  pointer-events: all;
  top: 0;
  left: 0;
  z-index: -1;
}
div.edit textarea {
  display: static;
}
div.edit .message.info {
  background-color: #C0FFC0;
}
div.edit .message {
  border-radius: .5em;
  -moz-border-radius: .5em;
  padding: .5em 1em;
}
#script_input {
  width: 400px;
  height: 120px;
}
