/*
	Developed by anthonyvscode.com
	This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*/
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
body {
  margin: 0 auto;
  font-family: 'Meiryo UI', 'Meiryo', 'Hiragino Kaku Gothic ProN', Verdana, 'MS PGothic', sans-serif;
}
body {
  overflow: hidden;
  background-color: transparent;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
#dic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 320px;
}
#actor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
}
