---
layout: layout
---

<div class="entry-container">
  <div class='entry'>
    <h1> {{page.title}} </h1>
    <span class="postdate">{{ page.date | date: "%e %B, %Y"  }}
      {% for tag in page.tags %}
        <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </span>
    {{ content }}
  </div>
</div>
<div id="page-navigation">
  <div class="left"> {% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&larr; {{page.previous.title}}</a> {% endif %} </div>
  <div class="right"> {% if page.next.url %} <a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &rarr; </a> {% endif %} </div>
  <div class="clear">&nbsp;</div>
</div>


{% if page.comments %}
<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "354862",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
{% endif %}